.wetherBg{
 background-image: url(./images/3.jpg);
 height: 50vh;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 color:black;
}
.wetherResultBox{
  margin: auto;
  width: 500px;
  height: 300px;
}
.logo{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}
.weatherCity{
  font-size: 35px;
}
.weatherTemp{
  font-size: 55px;
  font-weight: 700;
}